/*FONTS*/
@font-face {
  font-family: "MTNBrighterSans";
  src: url("ttf/MTNBrighterSans-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
}

@font-face {
  font-family: "MTNBrighterSans";
  src: url("ttf/MTNBrighterSans-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium weight */
}

@font-face {
  font-family: "MTNBrighterSans";
  src: url("ttf/MTNBrighterSans-ExtraBold.ttf") format("truetype");
  font-weight: 700; /* Extra weight */
}

/*FONT SIZES x COLORS*/
:root {
  /* Colors */
  --red: #b72334;
  --white: #ffffff;
  --darkgray1: #161616;
  --darkgray2: #252525;
  --lightgray1: #808080;
  --lightgray2: #dbdbdb;
  --lightgray3: #f8f8f8;
  --bg: #f0f0f0;

  /* General font sizes */
  --maintext: 18px;
  --subtext: 14px;
  --maintitle: 30px;

  /* Header font sizes */
  --mainhead: 80px;
  --subhead: 20px;

  /* Header font sizes media queries */
  --mainhead2: 50px;
  --subhead2: 16px;
}
/*=======================================================*/
/*UNIVERSAL SELECTOR*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: "MTNBrighterSans", sans-serif;
}

*:focus {
  outline: none;
}
/*=======================================================*/
html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}
/*=======================================================*/
body {
  font-weight: 400;
  font-size: 16px;
  background-color: var(--bg);
  padding-top: 0;
  height: 100%;
  margin: 0;
}
/*=======================================================*/
/*Highlighting page contents*/
::selection {
  background: var(--red);
  color: var(--white);
}

::-moz-selection {
  background: var(--red);
  color: var(--white);
}
/*=======================================================*/
a {
  text-decoration: none;
  cursor: pointer;
}
/*=======================================================*/
/*Index page portfolio link styles*/
/*Images*/
.servies {
  text-decoration: none;
  transition: color 0.3s ease;
}

.servies::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--red);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.servies:hover {
  color: var(--red);
}

.servies:hover::after {
  transform: scaleX(1);
}

a.servies {
  display: block;
  position: relative;
  transition: all 0.3s;
}

a.servies::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a.servies:hover::after {
  background-color: #9b000081;
}

a .servies:hover .portfolio-image {
  transform: scale(1.05);
}

/*Titles*/
a.texties h4 {
  color: var(--red);
  transition: color 0.3s;
  font-size: var(--maintext);
}

a.texties:hover h4 {
  color: var(--darkgray1);
}
/*=======================================================*/
/*PAGE LOADER EYE ANIMATION*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--darkgray1);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loader:before,
.loader:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(#b72334 0 0) top/100% 0% no-repeat,
    radial-gradient(farthest-side, #000 95%, #0000) 50%/8px 8px no-repeat #fff;
  animation: l9 4s infinite ease-in;
}

@keyframes l9 {
  0% {
    background-size: 100% 0%, 8px 8px;
    background-position: top, 50% 50%;
  }
  80% {
    background-size: 100% 70%, 8px 8px;
    background-position: top, 50% 70%;
  }
  84%,
  100% {
    background-size: 100% 0%, 8px 8px;
    background-position: top, 50% 50%;
  }
}
/*=======================================================*/
/*NAV*/
nav.hidden {
  transform: translateY(-100%);
}

nav {
  background: var(--darkgray1);
  display: flex;
  align-items: center;
  color: var(--white);
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

nav a {
  position: relative;
  color: var(--white);
  text-decoration: none;
}

nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--white);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav a:hover::after {
  transform: scaleX(1);
}

nav.sticky {
  box-shadow: 0 2px 4px var(--darkgray1);
}

nav.hidden {
  transform: translateY(-100%);
}

.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 10px;
  list-style: none;
}

.nav-links a {
  color: var(--white);
  text-decoration: none;
  font-size: 12px;
}

nav a {
  position: relative;
  color: var(--white);
  text-decoration: none;
}

nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--red);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav a:hover::after {
  transform: scaleX(0.6);
}

.logo-link::after {
  display: none;
}

/*Logo*/
.logo a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
}

.logo img {
  height: 30px;
  width: auto;
  margin-right: 0;
  vertical-align: middle;
  transform: translateY(5px);
}

.logo-text {
  color: var(--white) !important;
  font-size: var(--maintext) !important;
  font-weight: bold;
  margin-left: -5px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
}
/*Mobile nav*/
.mobile-menu-toggle {
  display: none;
}

.mobile-logo a,
.footer .logo a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  line-height: 1;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
}

.mobile-logo img,
.footer .logo img {
  height: 30px;
  width: auto;
  margin-right: 5px;
  vertical-align: middle;
}

.logo-text .dot {
  color: var(--red);
}

.mobile-nav {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: var(--darkgray1);
  transition: left 0.5s ease-in-out;
  z-index: 1000;
}

.mobile-menu.active {
  left: 0;
}

.mobile-menu ul {
  list-style-type: none;
  padding: 40px 20px;
}

.mobile-menu li {
  margin-bottom: 0;
  margin-top: 12px;
}

.mobile-menu a {
  color: var(--white);
  text-decoration: none;
  font-size: 14px !important;
}

.mobile-menu ul li a:hover {
  transition: color 0.2s ease-in-out;
}

.mobile-menu ul li a:hover {
  color: var(--red);
}

.close-btn {
  position: absolute;
  font-size: 16px !important;
  top: 16px;
  right: 16px;
  color: var(--white);
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: var(--lightgray1);
}

/*Media query*/
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin-bottom: 8px;
  }

  header {
    padding: 16px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }
  .nav-content {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }

  .mobile-logo img {
    height: 30px;
  }

  .mobile-menu-toggle {
    display: block;
    padding: 8px;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    border: none;
    margin-left: auto;
    position: relative;
    font-size: 14px;
    transition: color 0.3s ease;
  }

  .mobile-menu-toggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .mobile-menu-toggle:hover::after {
    transform: scaleX(1);
  }
}
/*=======================================================*/
/*HEADER*/
header {
  text-align: center;
  padding: 0;
  background-color: var(--white);
  width: 100%;
  height: auto;
}

.cover-header {
  height: 100vh !important;
  width: 100%;
  background-image: url("images/header.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  position: relative;
}

.header-dot {
  color: var(--red) !important;
}

.parallax-header {
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden !important;
  perspective: 1px;
  margin-top: 0;
}

.parallax-inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  transform: translateZ(-1px) scale(2);
}

.parallax-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--white);
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.header-text h1 {
  font-size: var(--mainhead);
  font-weight: 800;
  margin: 0;
  line-height: 1.2;
}

.header-text h2 {
  font-size: var(--subhead);
  font-weight: 400;
  margin-top: 10px;
}

.header-text h1,
.header-text h2 {
  position: relative;
  display: inline-block;
  margin: 0;
}

.reveal-text {
  position: relative;
  display: inline-block;
}

.reveal-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--red);
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.reveal-text.revealed::after {
  transform: scaleX(0);
}
/*Media query*/
@media (max-width: 480px) {
  .header-text h1 {
    font-size: var(--mainhead2) !important;
  }

  .header-text h2 {
    font-size: var(--subhead2) !important;
  }
}

#headerSubtitle {
  font-size: 20px;
  font-weight: 400;
}

.header-text.shooting-up {
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.header-text.sliding-down {
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*=======================================================*/
/*SERVICE SECTION*/
.services {
  padding: 50px 20px;
  text-align: left;
}

.services h1 {
  font-size: var(--maintitle);
  font-weight: 900;
  margin-bottom: 10px;
  text-align: center;
}
.services h2 {
  font-size: var(--maintext);
  margin-bottom: 10px;
  text-align: left;
}

.services p {
  color: var(--lightgray1);
  line-height: 1.6;
  text-align: left;
}

.service {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.service.aos-animate {
  transform: translateY(0);
  opacity: 1;
}

.service:not(.aos-animate) {
  transform: translateY(50px);
  opacity: 0;
}

[data-aos="fade-up"].aos-animate {
  transform: translateY(0);
}

.services-divider {
  overflow: hidden;
  width: 100%;
  max-width: 60px;
  margin: 0 auto;
}

.divider-container {
  width: 0;
  transition: width 1s ease-in-out;
}

.divider-container img {
  width: 100%;
  height: auto;
}

.divider-container.aos-animate {
  width: 100%;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.service {
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.service:hover {
  transform: translateY(-10px);
}

.icon {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: left;
}

.icon img {
  width: 50px;
  height: 50px;
  text-align: left;
}
/*Media query*/
@media (max-width: 768px) {
  .services-container {
    grid-template-columns: 1fr;
    max-width: 500px;
  }

  .service {
    max-width: 100%;
  }

  .services h1 {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
  }
  .services h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  .services p {
    text-align: center;
  }

  .icon {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
  }

  .icon img {
    width: 50px;
    height: 50px;
    text-align: center;
  }
}
/*=======================================================*/
/*PORTFOLIO SECTION*/
#portfolio {
  padding: 0;
}

.port-container {
  margin: 5%;
}

#portfolio {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

#portfolio h2 {
  font-size: var(--maintitle);
  text-align: center;
  font-weight: 900;
  margin-bottom: 10px;
  color: var(--darkgray1) !important;
}

.subheading {
  font-size: var(--subtext);
  font-weight: 600 !important;
  margin-bottom: 40px;
  color: var(--lightgray1);
  text-align: center;
  line-height: 0.5;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.portfolio-item {
  background-color: var(--white);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 6px #0000001a;
}

.reveal-container {
  position: relative;
  overflow: hidden;
}

.reveal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--red);
  transform: translateX(-100%);
  transition: transform 1.5s ease;
}

.portfolio-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transform: scale(1.2);
  opacity: 0;
  transition: transform 1.5s ease, opacity 1.5s ease;
}

.portfolio-item.reveal .reveal-overlay {
  transform: translateX(100%);
}

.portfolio-item.reveal .portfolio-image {
  transform: scale(1);
  opacity: 1;
}

.portfolio-item h4 {
  margin: 15px 0 5px;
  padding: 0 15px;
  color: var(--red);
}

.portfolio-item p {
  font-size: var(--subtext);
  color: var(--lightgray1);
  margin: 0 0 15px;
  padding: 0 15px;
}

/*=======================================================*/
/*SCROLL DOWN MOUSE BTN*/
.scroll-down {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mouse {
  width: 30px;
  height: 50px;
  fill: none;
  stroke: var(--white);
  stroke-width: 4;
}

.scroll-dot {
  fill: var(--white);
  animation: scroll 1.8s infinite;
  border: none;
}

@keyframes scroll {
  0%,
  100% {
    transform: translateY(-35px);
  }
  50% {
    transform: translateY(0);
  }
}

.scroll-down span {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: var(--white);
}

/*=======================================================*/
/*TECH PRO*/
#tech-pro {
  text-align: center;
  padding: 50px 0;
}

#tech-pro-h2 {
  font-size: var(--maintitle);
  font-weight: 900;
  margin-bottom: 10px;
  text-align: center;
  color: var(--darkgray1);
  opacity: 1;
}

.divider-container,
.tech-pro-divider-container {
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 30px;
}

.divider-wrapper {
  width: 100%;
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
}

.divider-wrapper[data-aos="width-reveal"] {
  transform: translateX(-100%);
}

.divider-wrapper[data-aos="width-reveal"].aos-animate {
  transform: translateX(0);
}

.divider-container img,
.tech-pro-divider-container img {
  width: 60px;
  height: auto;
  display: block;
  margin: 0 auto;
}

[data-aos="width-reveal"] {
  width: 0;
  transition: width 1s ease-in-out;
}

[data-aos="width-reveal"].aos-animate {
  width: 100%;
}

.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.skill {
  text-align: center;
}

.skill h3 {
  margin-bottom: 10px;
  color: var(--darkgray1);
  font-size: var(--maintext);
  font-weight: 900;
}

.percent {
  font-size: 80px;
  font-weight: bold;
  color: var(--red);
}

.percent .number {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.percent .symbol {
  font-size: 14px;
  color: var(--darkgray1);
  font-weight: bolder;
  vertical-align: super;
  display: inline-block;
  margin-left: 2px;
}

/*Media query*/
@media (max-width: 1024px) {
  #tech-pro {
    padding: 40px 0;
  }

  .skills {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  .skill h3 {
    font-size: var(--subtext) !important;
  }

  .percent {
    font-size: 50px !important;
  }

  .percent .symbol {
    font-size: var(--subtext) !important;
  }
}
/*Media query*/
@media (max-width: 767px) {
  #tech-pro {
    padding: 30px 0;
  }

  .divider-container,
  .tech-pro-divider-container {
    max-width: 200px;
    margin-bottom: 20px;
  }

  .divider-container img,
  .tech-pro-divider-container img {
    width: 40px;
  }

  .skills {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 15px;
  }

  .skill h3 {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .percent {
    font-size: 32px;
  }

  .percent .symbol {
    font-size: 10px;
  }

  #tech-pro-h2 {
    font-size: 25px !important;
  }

  #portfolio h2 {
    font-size: 25px !important;
    line-height: 1 !important;
  }
}

/*=======================================================*/
/*GET IN TOUCH*/
#get-in-touch {
  padding: 20px 0;
  text-align: center;
}

#get-in-touch-h2 {
  font-size: var(--maintitle);
  font-weight: 900 !important;
  margin-bottom: 10px;
  color: var(--darkgray1);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.get-in-touch-divider {
  margin: 0 auto 20px;
  opacity: 0;
  width: 60px;
  transition: opacity 0.6s ease-out, width 0.6s ease-out;
}

/*Media query*/
@media (max-width: 767px) {
  #get-in-touch-h2 {
    font-size: 25px !important;
  }

  .get-in-touch-divider {
    width: 40px !important;
  }
}

/*=======================================================*/
/*CONTACT*/
.contact-container {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #a363aa;
  border-radius: 10px;
  margin-bottom: 20px;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  background-color: white !important;
  transition: background-color 0s;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #666 !important;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  background-color: white !important;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 2px solid #b72334;
  background-color: white !important;
  color: #5e5e5e !important;
  -webkit-text-fill-color: #666 !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}

.contact-inputs::placeholder {
  color: #a7a7a7 !important;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #b72334, #4b0911);
  cursor: pointer;
}

.contact-left button:hover {
  background: linear-gradient(90deg, #b72334, #4b0911);
}

.contact-left button img {
  height: 15px;
}

.contact-right img {
  animation: float 1s ease-in-out infinite;
}
.contact-right-mobile img {
  margin-top: 10px;
  animation: float 1s ease-in-out infinite;
}

.contact-right-mobile {
  display: none;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@media (max-width: 800px) {
  .contact-container {
    min-height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }

  .contact-inputs {
    width: 80vw;
    text-align: left;
  }

  .button-wrapper {
    width: 80vw;
    display: flex;
    justify-content: flex-start;
  }

  .contact-right {
    display: none;
  }

  .contact-right-mobile {
    display: block;
    width: 100%;
    text-align: center;
  }

  .contact-right-mobile img {
    max-width: 80%;
    height: auto;
    display: inline-block;
  }
}

/*=======================================================*/

/* MAP */
/**.map-container {
  width: 90%;
  max-width: 800px;
  height: 0;
  padding-bottom: 45%;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  border: none;
  border-radius: 15px;
}
  **/

/*=======================================================*/
/*GALLERY LOAD MORE BTN*/
#loadMore {
  display: block;
  margin: 32px auto;
  background-color: var(--darkgray1);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: var(--maintext);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#loadMore:hover {
  background-color: var(--red);
}
/*=======================================================*/
/*FOOTER*/
.footer {
  background-color: black;
  color: var(--white);
  padding: 32px 0;
  position: relative;
  overflow: hidden;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.footer.reveal .footer-content {
  opacity: 1;
  transform: translateY(0);
}

.footer::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.02) 50%,
    transparent 100%
  );
  transform: rotate(45deg);
  z-index: 1;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.logo a {
  font-size: 32px;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;
  margin-bottom: 16px;
  display: inline-block;
  cursor: none;
}

.logo span {
  color: var(--red);
}

.copyright {
  font-size: 15px;
  color: var(--lightgray1);
}
/*=======================================================*/
/*BACK TO TOP BTN*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: var(--maintext);
  border: none;
  outline: none;
  background: linear-gradient(270deg, #b72334, #4b0911);
  cursor: pointer;
  color: var(--white);
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}

#myBtn:hover {
  background: linear-gradient(90deg, #b72334, #4b0911);
}

/*=======================================================*/
/*EXHIBITION*/
.exhibition-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.exhibition {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.exhibit-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  display: none;
}

.exhibit-item.show {
  opacity: 1;
  transform: translateY(0);
  display: block;
}

.demo-link {
  display: block;
  width: 100%;
  background-color: var(--darkgray1);
  color: var(--white);
  padding: 5px;
  text-decoration: none;
  text-align: center;
}

.exhibit-item:hover {
  transform: scale(1.05);
}

.exhibit-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.load-more-exhibit {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: var(--darkgray1);
  color: var(--white);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.load-more-exhibit:hover {
  background-color: var(--red);
}

.exhibit-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.exhibit-popup-content {
  position: relative;
  max-width: 80%;
  max-height: 80%;
}

#exhibit-popup-image {
  display: block;
  max-width: 100%;
  max-height: 80vh;
  margin: 0 auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.exhibit-nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.exhibit-nav-btn:hover {
  background-color: var(--red);
}

.exhibit-prev-btn {
  left: 10px;
  background-color: var(--darkgray1);
}

.exhibit-next-btn {
  right: 10px;
  background-color: var(--darkgray1);
}

.exhibit-exit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: var(--darkgray1);
  color: var(--white);
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exhibit-exit-btn:hover {
  background-color: var(--red);
  color: var(--white);
}

.header-squiggly {
  text-align: center;
  background-color: var(--lightgray3);
  border-radius: 0 0 40px 40px;
  padding: 40px 0px;
}

.header-squiggly h2 {
  text-align: center;
  font-size: var(--maintitle);
  font-weight: 900;
  margin-bottom: 10px;
  color: var(--darkgray1) !important;
}

.header-squiggly p {
  text-align: center;
  font-size: var(--subtext);
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--lightgray1) !important;
}

.squiggly {
  width: 60px;
  align-items: center;
}

.exhibit-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.exhibit-item:hover video {
  transform: scale(1.05);
}
/*=======================================================*/
/*SHOWCASE*/
.showcase-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.showcase-filters {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow-x: hidden;
  min-width: max-content;
}

.showcase-filter {
  background-color: var(--lightgray2);
  font-weight: 500;
  color: var(--darkgray1);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
  flex-shrink: 0;
  white-space: nowrap;
}

.showcase-filter.active {
  background-color: var(--darkgray1);
  color: var(--red);
}

.showcase {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.showcase-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  display: none;
}

.showcase-item.show {
  opacity: 1;
  transform: translateY(0);
  display: block;
}

.showcase-item:hover {
  transform: scale(1.05);
}

.showcase-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.load-more-showcase {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: var(--darkgray1);
  color: var(--white);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.load-more-showcase:hover {
  background-color: var(--red);
}

.showcase-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.showcase-modal-content {
  position: relative;
  max-width: 80%;
  max-height: 80%;
}

#showcase-modal-image {
  display: block;
  max-width: 100%;
  max-height: 80vh;
  margin: 0 auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.showcase-nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.showcase-nav-btn:hover {
  background-color: #b72334;
  color: var(--white);
}

.showcase-prev-btn {
  left: 10px;
  background-color: var(--darkgray1);
  transition: background-color 0.3s ease;
}

.showcase-next-btn {
  right: 10px;
  background-color: var(--darkgray1);
  transition: background-color 0.3s ease;
}

.showcase-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: var(--darkgray1);
  color: var(--white);
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase-close-btn:hover {
  background-color: var(--red);
  color: var(--white);
}

.showcase-filters-wrapper {
  position: relative;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 20px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.showcase-filter:first-child {
  margin-left: 0;
}

.showcase-filter:last-child {
  margin-right: 0;
}

/*Media query*/
@media screen and (max-width: 768px) {
  .showcase-filters-wrapper {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .showcase-filters {
    flex-wrap: wrap;
    justify-content: center;
  }

  .showcase-filter {
    padding: 8px 16px;
    font-size: 14px;
    margin: 5px;
  }
}
/*=======================================================*/
/*=======================================================*/
/*=======================================================*/
